<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BG/src/edu/usc/bg/BGMainClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.bg.BGMainClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="onetime -schema -db hibernate.HibernateBgClient  -p insertimage=true -p imagesize=12 -p threadcount=100 -p db.url=&quot;jdbc:postgresql://localhost:5432/hibernatebgclient&quot; -p db.dialect=&quot;org.hibernate.dialect.PostgreSQLDialect&quot; -p db.driver=&quot;org.postgresql.Driver&quot; -p db.user=&quot;root&quot; -p db.passwd=&quot;root&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BG"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx10G"/>
</launchConfiguration>
